*
    margin: 0px
    padding: 0px
    box-sizing: border-box

body
    background-color: #000
    min-height: 200vh

header
    position: fixed
    top: 0
    left: 0
    width: 100%
    display: flex
    justify-content: space-between
    align-items: center
    transition: 0.6s
    paddind: 40px 100px

header .logo
    position: 
    font-weight: 700
    color: #fff
    text-decoration: none
    font-size: 2em
    text-transform: uppercase
    letter-spacing: 2px
    transition: 0.6s
    
